body {
    padding: 10px;
    margin: 0;
    background-color: #efefef;
    background-image: url("../src/background.jpg");
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 18px;
}

.name {
    font-family: cursive, sans-serif;
    font-size: 150%;
    margin: 10px;
}

.card {
    width: 420px;
    margin: 10px auto;
    background-color: #efefef;
    box-shadow: 0 5px 10px #6f6f6f;
    border-radius: 
}

.card-photo {
    display: block;
    height="300";
    width="400";
    margin: 0 auto;
    padding: 10px;
}

.table-cell-center {
    align-content: center;
    text-align: center;
    padding: 10px;
}

.description {
    margin-left: 10px;
}

.card-checked {
    height: 24px;
    width: 24px;
}

.card-unchecked {
    height: 7px;
    width: 24px;
}