body {
    padding: 10px;
    margin: 0;
    background-color: #efefef;
    background-image: url("../src/background.jpg");
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 18px;
}

.name {
    font-family: cursive, sans-serif;
    font-size: 150%;
    margin: 10px;
}

.card {
    width: 600px;
    margin: 10px auto;
    background-color: #efefef;
    box-shadow: 0 5px 10px #6f6f6f;
    border-radius: 10px;
    text-align: center;
}

.card-photo {
    display: block;
    /* height="300";
    width="400"; */
    margin: 0 auto;
    padding: 10px;
}

.table-cell-center {
    align-content: center;
    text-align: center;
    margin: 10px;
    border-collapse: collapse;
    display: inline-block;
}

.description {
    margin: 10px;
    display: none;
}

.card-checked {
    height: 24px;
    width: 24px;
}

.card-unchecked {
    height: 7px;
    width: 24px;
}

.chips {
    width: 40px;
    margin-left: 5px;
}

#tableHistory th {
    border: black;
    border: 1px solid black;
    border-bottom: 2px solid black;
    background: rgb(216, 186, 131);
    padding-left: 10px;
    padding-right: 10px;
}

#tableHistory td {
    border: black;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

#tableHistory .odd-row {
    background: rgb(216, 186, 131);
    border: black;
    border: 1px solid black;
}

#tableHistory .even-row {
    background: aliceblue;
    border: solid;
    border: 1px solid black;
}

#btnDeleteRows {
    margin-bottom: 10px;
}